.App {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: auto;
  gap: 10px;
  background: black;
  color: white;
}

.sidebar {
  width: 100%;
  min-height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid white;
  gap: 10px;
  box-sizing: border-box;
}

ul,
ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  height: 50px;
}

ul > li {
  padding: 10px;
}

li {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
}

li > .task-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

li > button {
  width: 80px !important;
  height: 40px;
  outline-style: none;
  background-color: purple;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid white;
}

.content {
  display: flex;
  flex: 1 1 0;
}

.content > .input-wrap > textarea {
  height: 200px;
  width: 100%;
  background: transparent;
  color: white;
  font-size: 1rem;
  padding: 10px;
  box-sizing: border-box;
}

.input-wrap {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.input-wrap > button {
  outline-style: none;
  width: 100%;
  background-color: purple;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
  margin: auto;
  position: relative;
}

@media (min-width: 1020px) {
  .App {
    flex-direction: row;
  }

  .content > .input-wrap > textarea {
    height: 200px;
    width: 500px;
  }

  .input-wrap {
    position: fixed;
    left: 55%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar {
    width: 350px;
  }

  .input-wrap > button {
    align-self: center;
  }
}
